### Lists

In [13]:
mylist = ['one','two',3,4,True,False]

In [14]:
mylist[0:5:2] # mylist[start index:end index:step]

['one', 3, True]

In [15]:
mylist[0:3] = ["Replaced"]
mylist

['Replaced', 4, True, False]

List Methods

In [51]:
mylist1 = ['one','two',3,4]
mylist2 = [4,5,6,7]
mynumberlist = [5,6,2,7,89,1,88,8,9]

# append method will add new element to list
mylist1.append('new')
print("Add (new) in list {}".format(mylist1))

# extend method will concatination two lists
mylist1.extend(mylist2)
print("Add [4,5,6,7] in list {}".format(mylist1))

# remove will remove only one element from list
mylist1.remove(7) 
print("Remove (7) from list {}".format(mylist1))

# sort will Arrange the items in list
mynumberlist.sort(reverse=True)
print("Arrange the items in descending order{}".format(mynumberlist))
mynumberlist.sort(reverse=False)
print("Arrange the items in ascending order {}".format(mynumberlist))

# reverse will reverse the items
mylist1.reverse()
print("Reverse list items {}".format(mylist1))

# clear method will clear all elements
# mylist1.clear()

# copy method will take a copy from the list
copied_list = mylist.copy()
print("Copied list from list {}".format(copied_list))

# count will counting repeated times of element
print("count of (new) is: {}".format(mylist.count('new')))

# index will access index of searched element
print("the element (new) is at {} index".format(mylist.index('new')))

# insert method will insert element in choosed index
mylist.insert(0,0)
print("(0) element was added in 0 index {}".format(mylist))

Add (new) in list ['one', 'two', 3, 4, 'new']
Add [4,5,6,7] in list ['one', 'two', 3, 4, 'new', 4, 5, 6, 7]
Remove (7) from list ['one', 'two', 3, 4, 'new', 4, 5, 6]
Arrange the items in descending order[89, 88, 9, 8, 7, 6, 5, 2, 1]
Arrange the items in ascending order [1, 2, 5, 6, 7, 8, 9, 88, 89]
Reverse list items [6, 5, 4, 'new', 4, 3, 'two', 'one']
Copied list from list ['one', 'two', 3, 4, True, False, 'new', 'new']
count of (new) is: 2
the element (new) is at 6 index
(0) element was added in 0 index [0, 'one', 'two', 3, 4, True, False, 'new', 'new']

Tuple Methods
1. tuple is not assigned
2. tuple can not delete or add (Immutable)

In [52]:
myt = (1,'d',2)
a, _, b = myt
print(a,b)

1 2

Set
1. Not ordered, indexing and Slicing
2. Items is unique

In [61]:
a = {1,2,3,5}
b = {4,5,6,2,1}
print(a | b)

# union will concatination two sets
print(a.union(b))

# add will add new element to set
a.add(8)
print(a)

# Update set elements
a.update([1,6,4,2,5])
print(a)

# difference will return different elements
print(a.difference(b))

# intersection will return the same element
print(a.intersection(b))

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 5, 8}
{1, 2, 3, 4, 5, 6, 8}
{8, 3}
{1, 2, 4, 5, 6}