## Start Masraring Python with Elzero web school
* link:
https://www.youtube.com/watch?v=j0Wktr70Cgw&list=PLDoPjvoNmBAyE_gei5d18qkfIe-Z8mocs&index=12

# VARIABLES

In [ ]:
'''
int = 10
str = "hello"
bool = true
float = 10.5
tuple = (1,2,3)
list = [1,2,3]
dict = {"name" : "ahmed" , "age" : 25}
x,y,z = 1,2,3
'''

# ESCAPE CHARACTERS ESCAPE CHARACTERS

In [ ]:
'''
\b => Back Space \\ print("ESCAPE\bCHARACTERS") => will remove E char.
\  => single line \\ print("ESCAPE \
                        CHARACTERS") => will print to words in single line.
\\ => Print slash \\ print("ESCAPE CHARACTERS\\") will print one slash.
\n => New line \\ print("ESCAPE \n CHARACTERS") will move to new line.
\t => Tap \\ print("tap\tCHARACTERS") will take tap
'''

# STRINGS

In [3]:
text = '''
for big text 
"name" 'name'
'''
text

'\nfor big text \n"name" \'name\'\n'

### Slicing

In [87]:
text = "Course Python For Datascience"
print("Start char : "+text[1]) #starting from start
print("End char : "+text[-1]) #starting from end

Start char : o
End char : e

In [21]:
#[start:end]
#[start:end:steps]
print("First 3 chars: "+text[0:3])
print("Last 3 chars: "+text[-3:])
print("from first to end: "+text[1:])
print("from end to first: "+text[:-1])
print("2 index working: "+text[1::2])

First 3 chars: cou
Last 3 chars: hon
from first to end: ourse python
from end to first: course pytho
Last 3 chars: orepto
Last 3 chars: hon
Last 3 chars: hon

### Strip

In [22]:
text.strip() #will remove spaces from left and right

'course python'

text.rstrip() #will remove spaces from right only

In [36]:
text.lstrip() #will remove spaces from left only

'course 5 python @@'

In [35]:
text += "@@"
text

' course 5 python @@'

In [30]:
text.strip("@") #will remove any char

' course python '

### title

In [39]:
text.strip("@").title() # will capitalize first char from words in text.

' Course 5 Python '

### Zero Fill

In [44]:
# will add needed zero to be complete. 
x,y,z = "1","11","111"
print(x.zfill(3))
print(y.zfill(3))
print(z.zfill(3))

001
011
111

### Upper & Lower

In [45]:
text.upper()

' COURSE 5 PYTHON @@'

In [46]:
text.lower()

' course 5 python @@'

### Split and Splitlines

In [4]:
text.split() # it will split the text and convert it to list

['course', '5', 'python']

In [58]:
par = '''python is cool
data is future
'''
par.splitlines() # will return lines in list

['python is cool', 'data is future']

In [16]:
text.split(" ",2) # number 2, will take first two words from left only.

['Course', 'Python', 'For Data Science']

In [17]:
text.rsplit(" ",2) # number 2, will take first two words from right only.

['Course Python For', 'Data', 'Science']

### Center, Rjust and Ljust

In [33]:
text.center(100, "|") # will add cahracters in left and right of words. and the 100 is length of words

'|||||||||||||||||||||||||||||||||||Course Python For Data Science|||||||||||||||||||||||||||||||||||'

In [54]:
print(text.rjust(50,"|")) # add spaces in left
print(text.ljust(50,"|")) # add spaces in right

||||||||||||||||||||Course Python For Data Science
Course Python For Data Science||||||||||||||||||||

### Count

In [39]:
text.count("a") #will return number of ineces in all text
text.count("a",5,20) #will return number of ineces between index 5 to 20.

1

### Swapcase

In [41]:
text.swapcase() # will convert the text from upper to lower and lower to upper

'cOURSE pYTHON fOR dATA sCIENCE'

### Startswith and Endswith

In [44]:
text.startswith("C") #will check the text if have the char from first of text and return bool.
text.startswith("C",10,20) # case sensitive

False

In [45]:
text.endswith("e") #will check the text if have the char from last of text and return bool.
text.endswith("e",10,20) # case sensitive

False

### Find and index

In [50]:
text.find("s",5,10) #will retutn -1 if the thext have not the input.

-1

In [51]:
text.index("s",3,10) #will retutn valueError if the thext have not the input.

4

### Expand Tap

In [68]:
tabs = "python \t java \t js"
print(tabs)
print(tabs.expandtabs(-2))

python 	 java 	 js
python  java  js

### IS [ title, alpha, lower, upper, spase, isnumeric, isidentifier, isalnum ]

In [85]:
print(text.istitle()) # it will check if all first char is uppercase
print(text.isalpha()) # it will check if the text are alpha or not
print(text.isspace()) # it will check if the text is spaces or not
print(text.isnumeric()) # it will check if the text are numbers or not
print(text.islower()) # it will check if the text are upper
print(text.isupper()) # it will check if the text are lower
print(text.isidentifier()) # it will check if the text are variable name.
print(text.isalnum()) # it will check if the text are contain chars or not.

False
True
False
False
False
False
True
True

### Replace and join

In [88]:
text.replace("For","4") # will replace the word

'Course Python 4 Datascience'

In [90]:
list1 = ["ahmed","waleed","Khaled"]
print(" - ".join(list1))
print(", ".join(list1))
print(" | ".join(list1))

ahmed - waleed - Khaled
ahmed, waleed, Khaled
ahmed | waleed | Khaled

## Formatting

In [2]:
# Old way
name = 'ahmed'
age = 15
rank = 10.55255465
text_welcome = 'My Name is %s and %d years old and my rank is %.2f' %(name,age,rank)
print(text_welcome)
# %s for string
# %d for digits
# %f for float number

My Name is ahmed and 15 years old and my rank is 10.55

In [9]:
# New way
name = 'ahmed'
age = 15
rank = 10.55255465
text_welcomee = 'My Name is {} and {} years old and my rank is {:.3f}'.format(name,age,rank)
print(text_welcomee)
# {:s} for string
# {:d} for digits
# {:f} for float number

My Name is ahmed and 15 years old and my rank is 10.553